<div class="anchorTop" style="">
    <span class="glyphicon glyphicon-chevron-up" style="top:0px;margin-left:2px;"></span>
</div>


<div class="overlay" *ngIf="show">{{messageMail}}</div>

<!-- Banner  -->
<div class="container-fluid backgroundLayer">
    <div class="backgroundAdjust" style="min-height:500px;padding-top:100px;">
        <div class="col-lg-12 adjuster" style="position:relative;margin:80px auto">
            <div class="col-lg-7 leftsection">
                <div class="firstLine">Ultimate virtualization Platform</div>
                <div class="secondLine">With Seamless Cross</div>
                <div class="thirdLine">Devices/Platform Integration</div>

                <div class="buttonWrapper" style="">
                    <div class="howitworks-button"><button class="btn btn-default requestDemoButtonLite">How It
                            Works</button>
                    </div>
                    <div class="contacts-button" style=""><button class="btn btn-default affiliatesButton">Contact
                            Us</button></div>
                </div>

                <!-- <div class="comingsoonHolder">
                    <div class="text-center outerdiv" style="">
                        <div class="text-center innerdiv" style="">Full Website Coming Soon!</div>
                    </div>
                </div> -->
            </div>
            <div class="col-lg-5 rightSection">

                <div>
                    <div class="vtourText" style="">
                        VTOUR
                    </div>
                    <div class="leftsmall">
                        <img class="leftMainImage" src="assets/homepage/mobilesmall.png" />
                        <div class="android-icon" style=""><img src="assets/homepage/android-icon.png" /></div>
                        <div class="ios-icon" style=""><img src="assets/homepage/apple-icon.png" /></div>
                        <div class="native" style="">Native Android/IOS</div>
                    </div>
                </div>
                <div class="rightBig">
                    <img class="rightMainImg" src="assets/homepage/alldevice.png" width="100%" />
                    <div class="support">
                        Supported Browsers <span style="margin-left:10px;"><img src="assets/homepage/support-icon.png"
                                width="100px" /></span>
                    </div>
                </div>
                <div class="middleLayer"></div>
            </div>


        </div>

        <div class="col-lg -12 buttonWrapperMobile" style="">
            <div class="howitworks-button"><button class="btn btn-default requestDemoButtonLite">How It Works</button>
            </div>
            <div class="contacts-button"><button class="btn btn-default affiliatesButton">Contact Us</button></div>
        </div>
    </div>
</div>



<!-- Hosting Info  -->
<div class="container-fluid fluid-adjuster" style="padding:50px 0px">
    <div class="flexWrapper">
        <h2 class="text-center heading">What Can Vtour Host For You</h2>
        <div class="flexer" style="display:flex;">
            <div class="flexerdiv">
                <div class="text-center">
                    <img src="assets/homepage/townhall.png" />
                </div>
                <div class="text-center flexerdivtext">
                    Townhall
                </div>
            </div>

            <div class="flexerdiv">
                <div class="text-center">
                    <img src="assets/homepage/productlaunch.png" />
                </div>
                <div class="text-center flexerdivtext">
                    Product Launch
                </div>
            </div>

            <div class="flexerdiv">
                <div class="text-center">
                    <img src="assets/homepage/paneldiscussion.png" />
                </div>
                <div class="text-center flexerdivtext">
                    Panel Discussion
                </div>
            </div>

            <div class="flexerdiv">
                <div class="text-center">
                    <img src="assets/homepage/conference.png" />
                </div>
                <div class="text-center flexerdivtext">
                    Conference
                </div>
            </div>

            <div class="flexerdiv">
                <div class="text-center">
                    <img src="assets/homepage/customizedevents.png" />
                </div>
                <div class="text-center flexerdivtext">
                    Customised Events
                </div>
            </div>

            <div class="flexerdiv">
                <div class="text-center">
                    <img src="assets/homepage/exhibitions.png" />
                </div>
                <div class="text-center flexerdivtext">
                    Exhibitions/Expo
                </div>
            </div>
        </div>
    </div>
</div>

<!-- simpler than you think  -->

<div class="container-fluid" style="padding:50px 0px; background:#f8f8f8">
    <h2 class="text-center heading">It's Much Simpler Than You Think</h2>
    <div class="col-lg-12">
        <div class="gridder">
            <div class="gridder-child">
                <div class="outer-image-wrapper firstwrapper">
                    <!-- <div class="image-grid-holder">
                        <div class="counter">01</div>
                    </div> -->

                    <img src="assets/homepage/01.png" width="100%" />
                    <div class="counter">01</div>
                </div>
                <div class="imageTexter">
                    <div class="imagetexterHeading">Login</div>
                    <div class="text-center imageTexterPara">Vtour is designed for both web and mobile. Sign in via
                        our app or browser.</div>
                </div>
            </div>
            <div class="gridder-child">
                <!-- <div class="outer-image-wrapper secondwrapper">
                    <div class="image-grid-holder second">
                        <div class="counter">02</div>
                    </div>
                </div> -->

                <div class="outer-image-wrapper firstwrapper">
                    <!-- <div class="image-grid-holder">
                        <div class="counter">01</div>
                    </div> -->

                    <img src="assets/homepage/02.png" width="100%" />
                    <div class="counter">02</div>
                </div>
                <div class="imageTexter">
                    <div class="imagetexterHeading">Understand</div>
                    <div class="text-center imageTexterPara">Get all the information of any upcoming events.</div>
                </div>
            </div>
            <div class="gridder-child">
                <!-- <div class="outer-image-wrapper thirdwrapper">
                    <div class="image-grid-holder third">
                        <div class="counter">03</div>
                    </div>
                </div> -->

                <div class="outer-image-wrapper firstwrapper">
                    <!-- <div class="image-grid-holder">
                        <div class="counter">01</div>
                    </div> -->

                    <img src="assets/homepage/03.png" width="100%" />
                    <div class="counter">03</div>
                </div>
                <div class="imageTexter">
                    <div class="imagetexterHeading">Explore</div>
                    <div class="text-center imageTexterPara">Explore different events and much more by visiting the
                        virtual body.</div>
                </div>
            </div>
            <div class="gridder-child">
                <!-- <div class="outer-image-wrapper fourthwrapper">
                    <div class="image-grid-holder fourth">
                        <div class="counter">04</div>
                    </div>
                </div> -->

                <div class="outer-image-wrapper firstwrapper">
                    <!-- <div class="image-grid-holder">
                        <div class="counter">01</div>
                    </div> -->

                    <img src="assets/homepage/04.png" width="100%" />
                    <div class="counter">04</div>
                </div>

                <div class="imageTexter">
                    <div class="imagetexterHeading">Broadcast</div>
                    <div class="text-center imageTexterPara">Enjoy the live broadcast of an event.</div>
                </div>
            </div>
            <div class="gridder-child">
                <!-- <div class="outer-image-wrapper fifthwrapper">
                    <div class="image-grid-holder fifth">
                        <div class="counter">05</div>
                    </div>
                </div> -->

                <div class="outer-image-wrapper firstwrapper">
                    <!-- <div class="image-grid-holder">
                        <div class="counter">01</div>
                    </div> -->

                    <img src="assets/homepage/05.png" width="100%" />
                    <div class="counter">05</div>
                </div>

                <div class="imageTexter">
                    <div class="imagetexterHeading">Network</div>
                    <div class="text-center imageTexterPara">Get all the information of any upcoming events.</div>
                </div>
            </div>
            <div class="gridder-child">
                <!-- <div class="outer-image-wrapper sixthwrapper">
                    <div class="image-grid-holder sixth">
                        <div class="counter">06</div>
                    </div>
                </div> -->

                <div class="outer-image-wrapper firstwrapper">
                    <!-- <div class="image-grid-holder">
                        <div class="counter">01</div>
                    </div> -->

                    <img src="assets/homepage/06.png" width="100%" />
                    <div class="counter">06</div>
                </div>

                <div class="imageTexter">
                    <div class="imagetexterHeading">Freebies</div>
                    <div class="text-center imageTexterPara">Enjoy goodies / freebies.</div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- How it works  -->
<div class="container-fluid howitworks-section">
    <div class="howItWorksWrapper">
        <div class="howitworksChild">
            <div class="leftImageWrapper">
                <img src="assets/homepage/howitworks.png" width="100%" height="100%" style="object-fit:cover" />
            </div>
        </div>
        <div class="howitworksChild">
            <div class="howItsWorksHeading">See How It Works</div>
            <div class="howItsWorksHeading-underline"></div>
            <div class="howitworks-para">
                V-Tour Is A Re-Visualised And Heightened Multi Disciplinary Platform
                (Both Web And APP) Integrated With AR For All Kinds Of Devices That
                Strives To Take Any Event, Gathering, Conference A Notch Higher.
            </div>
            <div class="contacts-button">
                <button class="btn btn-default requestDemoButtonDark">Request A Demo</button>
            </div>
        </div>
    </div>
</div>

<!-- Templates to choose from  -->

<div class="container-fluid" style="min-height:100px;background:#f8f8f8;padding:0px;">
    <h2 class="text-center heading">Plenty Of Templates To Choose From</h2>
    <div class="heading-underline" style=""></div>
    <div class="text-center container templates-para" style="">
        Easy to use templates, fully editable and completely responsible for your next AR event
    </div>

    <!-- <div class="text-center">
        <button class="btn btn-default requestDemoButtonDark contacts-button">Request A Demo</button>
    </div> -->

    

    <div class="col-lg-12 filterSection" style="position:relative;background:#f0f0f0">

        <div class="filterMenu">
            <div class="filterOptions" (click)="filter('all')" id="all">All</div>
            <div class="filterOptions" (click)="filter('agenda')" id="agenda">Agenda Pages</div>
            <div class="filterOptions" (click)="filter('stall')" id="stall">Stalls</div>
            <div class="filterOptions" (click)="filter('lobby')" id="lobby">Lobbies</div>
        </div>

        <div class="desktopFilter" style="">
            <div class="template-image all">
                <img class=""  src="assets/homepage/all.png" width="100%" />
            </div>

            <div class="template-image agenda">
                <img class=""  src="assets/homepage/templates/desktop-agenda.png" width="100%" />
            </div>

            <div class="template-image stall">
                <img class=""  src="assets/homepage/templates/stall1.png" width="100%" />
                <img class=""  src="assets/homepage/templates/stall2.png" width="100%" />
            </div>

            <div class="template-image lobby">
                <img class=""  src="assets/homepage/all.png" width="100%" />
            </div>
            
            <!-- <img class="template-image agenda"  src="assets/homepage/templates/desktop-agenda.png" width="100%" />
            <img class="template-image stall"  src="assets/homepage/templates.png" width="100%" />
            <img class="template-image lobby"  src="assets/homepage/templates.png" width="100%" /> -->
        </div>
      

        <div class="templateImageWrapper">
            <div class="template-image all">
                <img src="assets/homepage/templates1.png" width="100%" />
                <img src="assets/homepage/templates2.png" width="100%" />
            </div>

            <div class="template-image agenda">
                <img src="assets/homepage/templates/agenda.png" width="100%" />
                <!-- <img src="assets/homepage/templates2.png" width="100%" /> -->
            </div>

            <div class="template-image stall">
                <img class=""  src="assets/homepage/templates/stall1.png" width="100%" />
                <img class=""  src="assets/homepage/templates/stall2.png" width="100%" />
            </div>

            <div class="template-image lobby">
                <img src="assets/homepage/templates/lobby.png" width="100%" />
                <!-- <img src="assets/homepage/templates2.png" width="100%" /> -->
            </div>
           
        </div>
    </div>
</div>


<div class="container-fluid" style="background:#000;">
    <div class="flexWrapper2main">
        <div class="flexWrapper2">
            <div class="flexWrapper2Child">
                <div class="text-center">
                    <img src="assets/homepage/streaming.png" />
                </div>
                <div class="text-center flexWrapper2ChildText">
                    Swift Responsive Streaming & UI Navigation
                </div>
            </div>
            <div class="flexWrapper2Child">
                <div class="text-center">
                    <img src="assets/homepage/server.png" />
                </div>
                <div class="text-center flexWrapper2ChildText">
                    Dedicated Servers & Broadcasting Terminals
                </div>
            </div>
            <div class="flexWrapper2Child">
                <div class="text-center">
                    <img src="assets/homepage/responsive.png" />
                </div>
                <div class="text-center flexWrapper2ChildText">
                    Responsive & Seamless Event experience across devices & Platforms integrated with AR
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features  -->
<div class="container-fluid">
    <h2 class="text-center heading">Overview Features</h2>
    <div class="heading-underline" style=""></div>
    <div class="text-center container templates-para" style="">
        Features Of Vtours
    </div>

</div>

<!-- 1 -->
<div class="container-fluid">
    <div class="container features-container">
        <div class="features-flexer">
            <div class="features-flexer-child">
                <div class="feature-image-wrapper" style="">
                    <img src="assets/homepage/Feature1.png" width="100%" />
                </div>
            </div>
            <div class="features-flexer-child feature-right">
                <div class="firstHead">Seamless Platform Across Web/App</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
    </div>
</div>

<!-- 2 -->
<div class="container-fluid" style="background:#f8f8f8">
    <div class="container features-container">


        <div class="features-flexer">

            <div class="features-flexer-child leftsectionfeature">
                <div class="firstHead">Extremely Low Latency</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>

            <div class="features-flexer-child">
                <div class="feature-image-wrapper rightImageFeature" style="">
                    <img src="assets/homepage/Feature2.png" width="100%" />
                </div>
            </div>

        </div>
    </div>
</div>
<!-- 3 -->
<div class="container-fluid">
    <div class="container features-container">
        <div class="features-flexer">
            <div class="features-flexer-child">
                <div class="feature-image-wrapper" style="">
                    <img src="assets/homepage/Feature3.png" width="100%" />
                </div>
            </div>
            <div class="features-flexer-child feature-right">
                <div class="firstHead">Green Screen Live Feed</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
    </div>
</div>

<!-- 4 -->
<div class="container-fluid" style="background:#f8f8f8">
    <div class="container features-container">


        <div class="features-flexer">

            <div class="features-flexer-child leftsectionfeature">
                <div class="firstHead">Dedicated Secure Servers</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>

            <div class="features-flexer-child">
                <div class="feature-image-wrapper rightImageFeature" style="">
                    <img src="assets/homepage/Feature4.png" width="100%" />
                </div>
            </div>

        </div>
    </div>
</div>

<!-- 5 -->
<div class="container-fluid">
    <div class="container features-container">
        <div class="features-flexer">
            <div class="features-flexer-child">
                <div class="feature-image-wrapper" style="">
                    <img src="assets/homepage/Feature5.png" width="100%" />
                </div>
            </div>
            <div class="features-flexer-child feature-right">
                <div class="firstHead">Variety Of User Interaction</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
    </div>
</div>

<!-- 6 -->
<div class="container-fluid" style="background:#f8f8f8">
    <div class="container features-container">


        <div class="features-flexer">

            <div class="features-flexer-child leftsectionfeature">
                <div class="firstHead">Immersive Virtual Lobby</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>

            <div class="features-flexer-child">
                <div class="feature-image-wrapper rightImageFeature">
                    <!-- <img src="assets/homepage/Feature6.png" width="100%" /> -->
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="assets/homepage/virtualLobby1.png" style="width:100%;">
                          </div>
                    
                          <div class="item">
                            <img src="assets/homepage/virtualLobby2.png" style="width:100%;">
                          </div>
                        
                          <div class="item">
                            <img src="assets/homepage/virtualLobby3.png" style="width:100%;">
                          </div>
                        </div>
                    
                        <!-- Left and right controls -->
                     
                      </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- 7 -->
<div class="container-fluid">
    <div class="container features-container">
        <div class="features-flexer">
            <div class="features-flexer-child">
                <div class="feature-image-wrapper" style="">
                    <img src="assets/homepage/Feature7.png" width="100%" />
                </div>
            </div>
            <div class="features-flexer-child feature-right">
                <div class="firstHead">AR Support</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
    </div>
</div>

<!-- 8 -->
<div class="container-fluid" style="background:#f8f8f8">
    <div class="container features-container">


        <div class="features-flexer">

            <div class="features-flexer-child leftsectionfeature">
                <div class="firstHead">Dynamic, Versatile & Central Backend</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>

            <div class="features-flexer-child">
                <div class="feature-image-wrapper rightImageFeature" style="">
                    <img src="assets/homepage/Feature8.png" width="100%" />
                </div>
            </div>

        </div>
    </div>
</div>



<!-- events gallery  -->
<div class="container-fluid eventsGalleryWrapper" style="min-height:200px;padding-bottom:30px;padding-top:30px;">
    <div class="container">
        <h2 class="text-center heading">Events Gallery</h2>
        <div class="heading-underline" style=""></div>
    </div>

    <div class="eventSlider container">
        <!-- <div *ngFor="let eventimages of eventSlider">
            <img class="slideimage" src="{{eventimages.image}}" width="100%" />
        </div> -->

        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigEvent">
            <div ngxSlickItem *ngFor="let eventimages of eventSlider" class="slide" style="position:relative;">
                <img class="slideimage" src="{{ eventimages.image }}" alt="" width="100%">
            </div>
        </ngx-slick-carousel>

    </div>
</div>

<!-- Trusted customers  -->

<!-- <div class="container-fluid" style="background:#f8f8f8;padding:30px 15px;">
    <div class="container">
        <h2 class="text-center heading">Trusted Customers</h2>
        <div class="heading-underline" style=""></div>
        <div class="text-center container templates-para" style="">
            Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut
        </div>
    </div>

    <div class="container">
        <div class="customer-flexer">
            <div class="customer-flex-child text-center">
                <img src="assets/homepage/customer1.png" width="120px" />
            </div>
            <div class="customer-flex-child text-center">
                <img src="assets/homepage/customer2.png" width="120px" />
            </div>
            <div class="customer-flex-child text-center">
                <img src="assets/homepage/customer3.png" width="120px" />
            </div>
            <div class="customer-flex-child text-center">
                <img src="assets/homepage/customer4.png" width="120px" />
            </div>
            <div class="customer-flex-child text-center">
                <img src="assets/homepage/customer5.png" width="120px" />
            </div>
            <div class="customer-flex-child text-center">
                <img src="assets/homepage/customer6.png" width="120px" />
            </div>
            <div class="customer-flex-child text-center">
                <img src="assets/homepage/customer7.png" width="120px" />
            </div>
            <div class="customer-flex-child text-center">
                <img src="assets/homepage/customer8.png" width="120px" />
            </div>
            <div class="customer-flex-child text-center">
                <img src="assets/homepage/customer9.png" width="120px" />
            </div>
            <div class="customer-flex-child text-center">
                <img src="assets/homepage/customer10.png" width="120px" />
            </div>
            <div class="customer-flex-child text-center">
                <img src="assets/homepage/customer11.png" width="120px" />
            </div>
            <div class="customer-flex-child text-center">
                <img src="assets/homepage/customer12.png" width="120px" />
            </div>
        </div>
    </div>
</div> -->



<!-- Contact Us  -->

<div class="container-fluid contacts-section" style="padding:30px 15px;">
    <div class="container">
        <h2 class="text-center heading">Contact Us</h2>
        <div class="heading-underline" style=""></div>
    </div>

    <div class="container formflexer" style="">
        <div class="form-flex">
            <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmitcontactForm(contactForm)" autocomplete="off">
                <div class="form-group">
                    <div class="form-element">
                        <div class="form__group field">
                            <input type="text" class="form__field" [ngClass]="{ 'is-invalid animated shake': submitted && validation.name.errors }" autocomplete="off" formControlName="name" placeholder="Name" name="name" id='name' required />
                            <label for="name" class="form__label">Your Name</label>
                        </div>
                    </div>

                    <div class="form-element">
                        <div class="form__group field">
                            <input type="email" class="form__field" [ngClass]="{ 'is-invalid animated shake': submitted && validation.email.errors }" autocomplete="off" formControlName="email" placeholder="Name" name="name" id='email'
                                required />
                            <label for="name" class="form__label">Email</label>
                        </div>
                    </div>

                    <div class="form-element">
                        <div class="form__group field">
                            <input type="text" class="form__field" [ngClass]="{ 'is-invalid animated shake': submitted && validation.mobile_number.errors }" autocomplete="off" formControlName="mobile_number" placeholder="Name" name="name" id='email'
                                required />
                            <label for="name" class="form__label">Mobile Number</label>
                        </div>
                    </div>

                    <div class="form-element">
                        <div class="form__group field">
                            <textarea type="text" class="form__field" [ngClass]="{ 'is-invalid animated shake': submitted && validation.message.errors }" formControlName="message" autocomplete="off" rows="5" placeholder="Name" name="name"
                                id='message' required></textarea>
                            <label for="name" class="form__label">Your Message</label>
                        </div>
                    </div>

                    <div class="form-element">
                        <button class="btn btn-default submitButton">Submit</button>
                        <div class="btn btn-default affiliatesButton animatingit">Affiliates</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-flex" style="padding:90px 50px;">
            <div class="address-section">
                <div class="addressHeader" style="">LOCATION</div>
                <div class="line1"></div>
                <div class="line2"></div>

                <div class="actualTextValue">
                    405, Corporate Annexe Sonawala Rd
                </div>
                <div class="actualTextValue">
                    Goregaon (East), Mumbai 400063
                </div>
            </div>

            <div class="phone-section">
                <div class="addressHeader" style="">PHONE</div>
                <div class="phone-line1"></div>
                <div class="phone-line2"></div>

                <div class="actualTextValue">
                    Suman: +91-7506292169
                </div>
                <div class="actualTextValue">
                    Manish: +91-9930677169
                </div>
            </div>

            <div class="phone-section">
                <div class="addressHeader" style="">MAIL</div>
                <div class="mail-line1"></div>
                <div class="mail-line2"></div>

                <div class="actualTextValue">
                    mumbai@inkincaps.com
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Got a question  -->
<div class="container-fluid" style="padding:30px 15px;">
    <div class="container">
        <h2 class="text-center heading">Got a Question ?</h2>
        <div class="heading-underline" style=""></div>
        <div class="text-center container templates-para" style="">
            Got a question or just wanted to say hello ?
        </div>
    </div>

    <div class="container">
        <div class="questionFLexer">
            <div class="question-child">
                <div class="question-box">
                    <h3>Call Us Now</h3>
                    <div class="question-underline"></div>
                    <div class="numbers">+91-9930677169</div>
                </div>
            </div>
            <div class="question-child">
                <div class="question-box">
                    <h3>Write to Us</h3>
                    <div class="question-underline"></div>
                    <div class="numbers">mumbai@inkincaps.com</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center" style="padding:30px 15px;">
        <button class="btn btn-default bookademoButton contacts-button">Book A Demo</button>
    </div>

</div>