<div class="anchorTop" style="">
    <span class="glyphicon glyphicon-chevron-up" style="top:0px;margin-left:2px;"></span>
</div>


<div class="overlay" *ngIf="show">{{messageMail}}</div>

<!-- Banner  -->
<div class="container-fluid backgroundLayer">
    <div class="backgroundAdjust" style="min-height:500px;padding-top:200px;">
        <div class="col-lg-12 adjuster" style="position:relative;margin:80px auto">
            <div class="col-lg-7 rightSection">

                <div>
                    <div class="vtourText" style="">
                        VTOUR
                    </div>
                    <div class="leftsmall">
                        <img class="leftMainImage" src="assets/homepage/android-app-image.png" alt="android-app-image" />
                        <div class="android-icon" style=""><img src="assets/homepage/android-icon.png" /></div>
                        <div class="ios-icon" style=""><img src="assets/homepage/apple-icon.png" /></div>
                        <div class="native" style="">أي او اس والأنرويد</div>
                    </div>
                </div>
                <div class="rightBig">
                    <img class="rightMainImg" src="assets/homepage/vtour-browser-support.png" alt="vtour-browser-support" width="100%" />
                    <!-- <div class="support">
                        :المستعرضات المدعومة <span style="margin-left:10px;"><img src="assets/homepage/support-icon.png"
                                width="100px" /></span>
                    </div> -->
                </div>
                <div class="middleLayer"></div>
            </div>

              <div class="col-lg-5 leftsection">
                <div class="firstLine">منصة افتراضية</div>
                <div class="secondLine">مزودة بأفضل</div>
                <div class="thirdLine">تجربة مستهلك</div>   

                
                <div class="buttonWrapper" style="">
                    <div class="howitworks-button"><button class="btn btn-default requestDemoButtonLite">كيف تعمل</button>
                    </div>
                    <div class="contacts-button" style=""><button class="btn btn-default affiliatesButton">اتصل بنا</button></div>
                </div>

            </div>


        </div>

        <div class="col-lg -12 buttonWrapperMobile" style="">
            <div class="howitworks-button"><button class="btn btn-default requestDemoButtonLite">كيف تعمل</button>
            </div>
            <div class="contacts-button"><button class="btn btn-default affiliatesButton">اتصل بنا</button></div>
        </div>
    </div>
</div>



<!-- Hosting Info  -->
<div class="container-fluid fluid-adjuster" style="padding:50px 0px">
    <div class="flexWrapper">
        <h2 class="text-center heading">أنواع المعارض للمنصات الافتراضية</h2>
        <div class="flexer" style="display:flex;">
           
            <!-- <div class="flexerdiv">
                <div class="text-center">
                    <img src="assets/homepage/customizedevents.png" />
                </div>
                <div class="text-center flexerdivtext">
                    أحداث مخصصة
                </div>
            </div>  -->

            <div class="flexerdiv">
                <div class="text-center">
                    <img src="assets/homepage/exhibitionsar.png" />
                </div>
                <div class="text-center flexerdivtext">
                    منتديات
                </div>
            </div>

            <div class="flexerdiv">
                <div class="text-center">
                    <img src="assets/homepage/conferencear.png" />
                </div>
                <div class="text-center flexerdivtext">
                    مؤتمرات
                </div>
            </div>


            <div class="flexerdiv">
                <div class="text-center">
                    <img src="assets/homepage/paneldiscussionar.png" />
                </div>
                <div class="text-center flexerdivtext">
                    حوار / نقاش
                </div>
            </div>

            <div class="flexerdiv">
                <div class="text-center">
                    <img src="assets/homepage/productlaunchar.png" />
                </div>
                <div class="text-center flexerdivtext">
                    حفلات اطلاق المنتج
                </div>
            </div>

            <div class="flexerdiv">
                <div class="text-center">
                    <img src="assets/homepage/trade-shows-orange.png" alt="trade-shows-orange" />
                </div>
                <div class="text-center flexerdivtext">
                    المعارض التجارية
                </div>
            </div>

            
        </div>
    </div>
</div>

<!-- simpler than you think  -->

<div class="container-fluid backgroundflag" style="padding:50px 0px; background:#f8f8f8">
    <h2 class="text-center heading">كيف تعمل</h2>
    <div class="col-lg-12">
        <div class="gridder">
            <div class="gridder-child">
                <div class="outer-image-wrapper firstwrapper">
                    <!-- <div class="image-grid-holder">
                        <div class="counter">01</div>
                    </div> -->

                    <img src="assets/homepage/virtual-events-login.png" alt="virtual-events-login" width="100%" />
                    <div class="counter" style="color: #ff5440;">01</div>
                </div>
                <div class="imageTexter">
                    <div class="imagetexterHeading">سجل الدخول</div>
                    <div class="text-center imageTexterPara">.ارسل رمز تسجيل فريد لمنح إذن دخول زوارك
                    </div>
                </div>
            </div>
 
            <div class="gridder-child">
                <!-- <div class="outer-image-wrapper secondwrapper">
                    <div class="image-grid-holder second">
                        <div class="counter">02</div>
                    </div>
                </div> -->

                <div class="outer-image-wrapper firstwrapper">
                    <!-- <div class="image-grid-holder">
                        <div class="counter">01</div>
                    </div> -->

                    <img src="assets/homepage/virtual-events-landing-page.png" alt="virtual-events-landing-page" width="100%" />
                    <div class="counter" style="color: #ff5440;">02</div>
                </div>
                <div class="imageTexter">
                    <div class="imagetexterHeading">تصفح</div>
                    <div class="text-center imageTexterPara">.احصل على جميع المعلومات عن أي عروض قادمة</div>
                </div>
            </div>

            <div class="gridder-child">
                <!-- <div class="outer-image-wrapper thirdwrapper">
                    <div class="image-grid-holder third">
                        <div class="counter">03</div>
                    </div>
                </div> -->

                <div class="outer-image-wrapper firstwrapper">
                    <!-- <div class="image-grid-holder">
                        <div class="counter">01</div>
                    </div> -->

                    <img src="assets/homepage/virtual-events-lobby.png" alt="virtual-events-lobby"  width="100%" />
                    <div class="counter" style="color: #ff5440;">03</div>
                </div>
                <div class="imageTexter">
                    <div class="imagetexterHeading">استكشف</div>
                    <div class="text-center imageTexterPara">.اكتشف عالمنا الافتراضي ثلاثي الأبعاد بنقرة</div>
                </div>
            </div>


             <div class="gridder-child">
                <!-- <div class="outer-image-wrapper fourthwrapper">
                    <div class="image-grid-holder fourth">
                        <div class="counter">04</div>
                    </div>
                </div> -->

                <div class="outer-image-wrapper firstwrapper">
                    <!-- <div class="image-grid-holder">
                        <div class="counter">01</div>
                    </div> -->

                    <img  src="assets/homepage/virtual-events-conference-arabic.png" alt="virtual-events-conference" width="100%" />
                    <div class="counter" style="color: #ff5440;">04</div>
                </div>

                <div class="imageTexter">
                    <div class="imagetexterHeading">قم بالبث</div>
                    <div class="text-center imageTexterPara">انطلق مباشرة من الاستوديو أو في منزلك لجميع .الحاضرين في الفعالية </div>
                </div>
            </div>

            <div class="gridder-child">
                <!-- <div class="outer-image-wrapper fifthwrapper">
                    <div class="image-grid-holder fifth">
                        <div class="counter">05</div>
                    </div>
                </div> -->

                <div class="outer-image-wrapper firstwrapper">
                    <!-- <div class="image-grid-holder">
                        <div class="counter">01</div>
                    </div> -->

                    <img src="assets/homepage/virtual-networking.png" alt="virtual-networking" width="100%" />
                    <div class="counter" style="color: #ff5440;">05</div>
                </div>

                <div class="imageTexter">
                    <div class="imagetexterHeading">ناقش</div>
                    <div class="text-center imageTexterPara">ناقش المواضيع المهمة من خلال غرف المناقشة .المخصصة</div>
                </div>
            </div>

            <div class="gridder-child">
                <!-- <div class="outer-image-wrapper sixthwrapper">
                    <div class="image-grid-holder sixth">
                        <div class="counter">06</div>
                    </div>
                </div> -->

                <div class="outer-image-wrapper firstwrapper">
                    <!-- <div class="image-grid-holder">
                        <div class="counter">01</div>
                    </div> -->

                    <img  src="assets/homepage/virtual-fun-engagement-zone.png" alt="virtual-fun-engagement-zone" width="100%" />
                    <div class="counter" style="color: #ff5440;">06</div>
                </div>

                <div class="imageTexter">
                    <div class="imagetexterHeading">احفظ</div>
                    <div class="text-center imageTexterPara">احتفظ بنسخة عبر الإنترنت من جميع المحتويات .ومقاطع الفيديو المهمة للزوار لتحميلها بعد الحدث</div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- inViewport [inViewportOptions]="{ threshold: [0] }" (inViewportAction)="onIntersectionHowitworks($event)" -->
<!-- How it works  -->
<div class="container-fluid howitworks-section">
    <div class="howItWorksWrapper">
        <div class="howitworksChild">
            <div class="leftImageWrapper">
                <video id="howitworks" playsinline loop width="100%" height="100%" #howitworks>
                    <source src="/assets/videos/howitworks.mp4" type="video/mp4">
                </video>
                <div class="playbutton" (click)="play_howitworks()">
                    <img src="/assets/homepage/playicon.png" width="100%"/>
                </div>
                <div class="pausebutton" (click)="pause_howitworks()">
                    <i class="fa fa-pause" style="color:#fff;font-size:30px;"></i>
                </div>
            </div>
        </div>
        <div class="howitworksChild">
            <div class="howItsWorksHeading">شاهد كيف تعمل</div>
            <div class="howItsWorksHeading-underline" style="background: #ff5440 !important"></div>
            <div class="howitworks-para">
                الجولة الافتراضية عبارة عن منصة متعددة التخصصات تمت إعادة تصوّرها )سواء على الشبكة او على التطبيق( مدمجة مع الواقع المعزز لجميع أنواع .الأجهزة التي تسعى إلى اتخاذ أي عرض، أو التجمع، أو عقد مؤتمر
            </div>
            <div class="contacts-button">
                <button class="btn btn-default requestDemoButtonDark">طلب عرض</button>
            </div>
        </div>
    </div>
</div>



<!-- Templates to choose from  -->

<div class="container-fluid" style="min-height:100px;background:#f8f8f8;padding:0px;">
    <h2 class="text-center heading">نماذج جاهزة</h2>
    <div class="heading-underline" style="background: #ff5440 !important"></div>
    <div class="text-center container templates-para" style="">
        نماذج سهلة الاستخدام وقابلة للتعديل بالكامل ومسؤولة تمامًا عن العرض التالي    </div>





    <div class="col-lg-12 filterSection" style="position:relative;background:#f0f0f0">

        <!-- <div class="filterMenu">
            <div class="filterOptions" (click)="filter('all')" id="all">الكل</div>
            <div class="filterOptions" (click)="filter('agenda')" id="agenda">صفحات جدول الأعمال
            </div>
            <div class="filterOptions" (click)="filter('stall')" id="stall">الأكشاك</div>
            <div class="filterOptions" (click)="filter('lobby')" id="lobby">اللوبيات</div>
        </div> -->

        <div class="desktopFilter" style="">
            <div class="template-image all">
                <img class="" src="assets/homepage/virtual-events-template-saudi.png" alt="virtual-events-template-saudi" width="100%" />
            </div>

            <div class="template-image agenda">
                <img class="" src="assets/homepage/templates/events-landing-page.png" alt="events-landing-page.png" width="100%" />
            </div>

            <div class="template-image stall">
                <img class="" src="assets/homepage/templates/virtual-exhibition-template1.png" alt="virtual-exhibition-template1" width="100%" />
                <img class="" src="assets/homepage/templates/virtual-exhibition-template2.png" alt="virtual-exhibition-template2" width="100%" />
            </div>

            <div class="template-image lobby">
                <img class="" src="assets/homepage/templates/virtual-event-lobby-template1.png" alt="virtual-event-lobby-template1" width="100%" />
                <img class="" src="assets/homepage/templates/virtual-event-lobby-template2.png" alt="virtual-event-lobby-template2" width="100%" />
                <img class="" src="assets/homepage/templates/virtual-event-lobby-template3.png" alt="virtual-event-lobby-template3" width="100%" />
            </div>

        
        </div>


        <div class="templateImageWrapper">
            <div class="template-image all">
                <img src="assets/homepage/templates1.png" alt="templates1" width="100%" />
                <img src="assets/homepage/templates2.png" alt="templates2" width="100%" />
            </div>

            <div class="template-image agenda">
                <img src="assets/homepage/templates/agenda.png" alt="agenda" width="100%" />
            </div>

            <div class="template-image stall">
                <img class="" src="assets/homepage/templates/virtual-exhibition-template1.png" alt="virtual-exhibition-template1" width="100%" />
                <img class="" src="assets/homepage/templates/virtual-exhibition-template2.png" alt="virtual-exhibition-template2" width="100%" />
            </div>

            <div class="template-image lobby">
                <img class="" src="assets/homepage/templates/virtual-event-lobby-template1.png" alt="virtual-event-lobby-template1" width="100%" />
                <img class="" src="assets/homepage/templates/virtual-event-lobby-template2.png" alt="virtual-event-lobby-template2" width="100%" />
                <img class="" src="assets/homepage/templates/virtual-event-lobby-template3.png" alt="virtual-event-lobby-template3" width="100%" />
            </div>

        </div>
    </div>
</div>

<div class="container-fluid" style="background:#000;">
    <div class="flexWrapper2main">
        <div class="flexWrapper2">
            
            <div class="flexWrapper2Child">
                <div class="text-center">
                    <img src="assets/homepage/responsive.png" />
                </div>
                <div class="text-center flexWrapper2ChildText">
                    تجربة حدث متجاوب وسلس عبر الأجهزة                </div>
            </div>

            <div class="flexWrapper2Child">
                <div class="text-center">
                    <img src="assets/homepage/server.png" />
                </div>
                <div class="text-center flexWrapper2ChildText">
                    خدمات مخصصة ومحطات                </div>
            </div>

            <div class="flexWrapper2Child">
                <div class="text-center">
                    <img src="assets/homepage/quick-streaming.png" alt="quick-streaming" />
                </div>
                <div class="text-center flexWrapper2ChildText">
                    تدفق سريع الاستجابة  والملاحة التفاعلية   </div>
            </div>

        </div>
    </div>
</div>

<!-- Features  -->
<div class="container-fluid">
    <h2 class="text-center heading">نظرة عامة على المميزات</h2>
    <div class="heading-underline"style="background: #ff5440 !important"></div>
    <div class="text-center container templates-para" style="">
        <!-- Features Of Vtours -->
    </div>

</div>


<!-- 1 -->
<div class="container-fluid">
    <div class="container features-container">
        <div class="features-flexer">
            <div class="features-flexer-child">
                <div class="feature-image-wrapper" style="">
                    <img src="assets/homepage/virtual-event-device-support.png" alt="virtual-event-device-support" width="100%" />
                </div>
            </div>
            <div class="features-flexer-child feature-right">
                <div class="firstHead">منصة سلسة عبر الشبكة / التطبيق</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">يمكنك الوصول بسهولة عبر متصفح الشبكة المفضل لديك أو عبر .هاتفك المحمول عبر تطبيقنا لأجهزة أي او اس والأنرويد</div>
            </div>
        </div>
    </div>
</div>

<!-- 2 -->
<div class="container-fluid" style="background:#f8f8f8">
    <div class="container features-container">


        <div class="features-flexer">

            <div class="features-flexer-child leftsectionfeature">
                <div class="firstHead">البث المباشر</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">لقد استثمرنا بكثافة لضمان حصول المستخدمين على القليل من التأخير بين التفاعلات والارتباط مع العروض التقديمية الحية .والشبكات</div>
            </div>

            <div class="features-flexer-child">
                <div class="feature-image-wrapper rightImageFeature" style="">
                    <img src="assets/homepage/virtual-event-low-latency-arabic.png" alt="virtual-event-low-latency" width="100%" />
                </div>
            </div>

        </div>
    </div>
</div>
<!-- 3 -->
<div class="container-fluid">
    <div class="container features-container">
        <div class="features-flexer">
            <div class="features-flexer-child">
                <div class="feature-image-wrapper" style="">
                    <img src="assets/homepage/virtual-event-chroma-screen-arabic.png" alt="virtual-event-chroma-screen" width="100%" />
                </div>
            </div>
            <div class="features-flexer-child feature-right">
                <div class="firstHead">البث من الشاشات الخضراء</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">قم بالبث بسهولة وسرعة لجمهورك مع التكامل مع البيئة الافتراضية .للحصول على تجربة غامرة وشخصية</div>
            </div>
        </div>
    </div>
</div>

<!-- 4 -->
<div class="container-fluid" style="background:#f8f8f8">
    <div class="container features-container">


        <div class="features-flexer">

            <div class="features-flexer-child leftsectionfeature">
                <div class="firstHead">خدمات آمنة مخصصة</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">في صميم منصتنا، بنية تحتية قوية بشكل فريد لأداء وحماية تجربة .وبيانات الجولة الافتراضية الخاصة بك</div>
            </div>

            <div class="features-flexer-child">
                <div class="feature-image-wrapper rightImageFeature" style="">
                    <img src="assets/homepage/virtual-event-servers.png" alt="virtual-event-servers"  width="100%" />
                </div>
            </div>

        </div>
    </div>
</div>

<!-- 5 -->
<div class="container-fluid">
    <div class="container features-container">
        <div class="features-flexer">
            <div class="features-flexer-child">
                <div class="feature-image-wrapper" style="">
                    <img src="assets/homepage/virtual-event-interactions.png" alt="virtual-event-interactions"  width="100%" />
                </div>
            </div>
            <div class="features-flexer-child feature-right">
                <div class="firstHead">مجموعة متنوعة من تفاعل المستخدم</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">لا يمكن أن يتطابق الواقع مع ما يمكننا توفيره لك ولعملائك. غير .العالم وقدم تجربة مخصصة</div>
            </div>
        </div>
    </div>
</div>

<!-- 6 -->
<div class="container-fluid" style="background:#f8f8f8">
    <div class="container features-container">


        <div class="features-flexer">

            <div class="features-flexer-child leftsectionfeature">
                <div class="firstHead">ردهة افتراضية غامرة</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">اسمح لعملائك بالوصول إلى نطاق واسع من خلال بيئات مألوفة للالتقاء .والتواصل قبل العرض وبعده</div>
            </div>

            <div class="features-flexer-child">
                <div class="feature-image-wrapper rightImageFeature">
                    <!-- <img src="assets/homepage/Feature6.png" width="100%" /> -->
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="assets/homepage/virtualLobby1.png" style="width:100%;">
                            </div>

                            <div class="item">
                                <img src="assets/homepage/virtualLobby2.png" style="width:100%;">
                            </div>

                            <div class="item">
                                <img src="assets/homepage/virtualLobby3.png" style="width:100%;">
                            </div>
                        </div>

                        <!-- Left and right controls -->

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- 7 -->
<div class="container-fluid">
    <div class="container features-container">
        <div class="features-flexer">
            <div class="features-flexer-child">
                <div class="feature-image-wrapper" style="">
                    <img  src="assets/homepage/virtual-event-augmented-reality.png" alt="virtual-event-augmented-reality" width="100%" />
                </div>
            </div>
            <div class="features-flexer-child feature-right">
                <div class="firstHead">دعم الواقع المعزز</div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">لم يسبق لحدثك الوصول إلى تعدد استخدامات الواقع المعزز. العالم هو .مرحلتك من خلال عدسة جهازك المحمول. عليك أن ترى هذا</div>
            </div>
        </div>
    </div>
</div>

<!-- 8 -->
<!-- <div class="container-fluid" style="background:#f8f8f8">
    <div class="container features-container">


        <div class="features-flexer">

            <div class="features-flexer-child leftsectionfeature">
                <div class="firstHead">ديناميكي ومتعدد الاستخدامات وخلفية مركزية
                </div>
                <div class="firstHead-underline"></div>
                <div class="firsthead-para" style="">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>

            <div class="features-flexer-child">
                <div class="feature-image-wrapper rightImageFeature" style="">
                    <img src="assets/homepage/Feature8.png" width="100%" />
                </div>
            </div>

        </div>
    </div>
</div> -->


<!-- events gallery  -->
<!-- <div class="container-fluid eventsGalleryWrapper" style="min-height:200px;padding-bottom:30px;padding-top:30px;">
    <div class="container">
        <h2 class="text-center heading">Events Gallery</h2>
        <div class="heading-underline" style=""></div>
    </div>

    <div class="eventSlider container">
        <div *ngFor="let eventimages of eventSlider">
            <img class="slideimage" src="{{eventimages.image}}" width="100%" />
        </div>

        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigEvent">
            <div ngxSlickItem *ngFor="let eventimages of eventSlider" class="slide" style="position:relative;">
                <img class="slideimage" src="{{ eventimages.image }}" alt="" width="100%">
            </div>
        </ngx-slick-carousel>

    </div>
</div> -->





<!-- Contact Us  -->

<div class="container-fluid contacts-section" style="padding:30px 15px;position: relative;">
    <div class="contact-section-flag" style=""></div>
    <div class="container">
        <h2 class="text-center heading">اتصل بنا / احجز عرضاً توضيحياً</h2>
        <div class="heading-underline" style="background: #ff5440 !important"></div>
    </div>

    <div class="container formflexer" style="">
        <div class="form-flex">
            <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmitcontactForm(contactForm)"
                autocomplete="off">
                <div class="form-group">
                    <div class="form-element">
                        <div class="form__group field placeholder-right">
                            <input type="text" class="form__field"
                                [ngClass]="{ 'is-invalid animated shake': submitted && validation.name.errors }"
                                autocomplete="off" formControlName="name" placeholder="Name" name="name" id='name'
                                required />
                            <label for="name" class="form__label">الاسم</label>
                        </div>
                    </div>

                    <div class="form-element">
                        <div class="form__group field placeholder-right">
                            <input type="email" class="form__field"
                                [ngClass]="{ 'is-invalid animated shake': submitted && validation.email.errors }"
                                autocomplete="off" formControlName="email" placeholder="Name" name="name" id='email'
                                required />
                            <label for="name" class="form__label">البريد الالكتروني</label>
                        </div>
                    </div>

                    <!-- <div class="form-element">
                        <div class="form__group field placeholder-right">
                            <input type="text" class="form__field"
                                [ngClass]="{ 'is-invalid animated shake': submitted && validation.mobile_number.errors }"
                                autocomplete="off" formControlName="mobile_number" placeholder="Name" name="name"
                                id='email' required (keypress)="keyPress($event)" minlength="10" maxlength = "10" />
                            <label for="name" class="form__label">رقم الهاتف المحمول
                            </label>
                        </div>
                    </div> -->

                    <div class="form-element">
                        <div class="form__group field placeholder-right">
                            <textarea type="text" class="form__field"
                                [ngClass]="{ 'is-invalid animated shake': submitted && validation.message.errors }"
                                formControlName="message" autocomplete="off" rows="5" placeholder="Name" name="name"
                                id='message' required></textarea>
                            <label for="name" class="form__label">رسالتك</label>
                        </div>
                    </div>

                    <div class="form-element placeholder-right">
                        <button class="btn btn-default submitButton">إرسال</button>
                        <!-- <div class="btn btn-default affiliatesButton animatingit">Affiliates</div> -->
                    </div>
                </div>
            </form>
        </div>
        <div class="form-flex" style="padding:90px 5px;">
            <div class="address-section">
                <div class="addressHeader" style="">الموقع</div>
                <div class="line1"></div>
                <div class="line2"></div>

                <div class="actualTextValue">
                    برج الفيصلية                
                </div>
                <div class="actualTextValue">
                    الرياض، المملكة العربية السعودية
                </div>
            </div>
            

            <!-- <div class="phone-section">
                <div class="addressHeader" style="">MELBOURNE</div>
                <div class="phone-line1"></div>
                <div class="phone-line2"></div>
                <div class="actualTextValue">
                    Melbourne700 Bourke St
                </div>
                <div class="actualTextValue">
                    Docklands 3008
                </div>
              
            </div>

            <div class="phone-section">
                <div class="addressHeader" style="">RIYADH</div>
                <div class="mail-line1"></div>
                <div class="mail-line2"></div>

                <div class="actualTextValue">
                   Faisliah Office Tower
                </div>
                <div class="actualTextValue">
                   Riyadh, Saudi Arabia
                 </div>
                 
            </div>

            <div class="phone-section">
                <div class="addressHeader" style="">DOHA</div>
                <div class="mail-line1"></div>
                <div class="mail-line2"></div>

                <div class="actualTextValue">
                    New Industrial Area, P>O. Box 40816
                </div>
                <div class="actualTextValue">
                   Doha, Qatar
                </div>
            </div> -->

        </div>

        <div class="form-flex" style="padding:90px 15px;">
            <div class="address-section">
                <div class="addressHeader" style="">رقم الهاتف</div>
                <div class="line1"></div>
                <div class="line2"></div>

                <div class="actualTextValue">
                    +966 503898844
                </div>
                <!-- <div class="actualTextValue">
                   +91-8879690609
                </div> -->
            </div>
<!-- 
            <div class="phone-section">
                <div class="addressHeader" style="">PHONE</div>
                <div class="phone-line1"></div>
                <div class="phone-line2"></div>
                <div class="actualTextValue">
                    +61390137078
                </div>
                <div class="actualTextValue" style="opacity:0;">
                    Docklands 3008
                </div>
              
            </div>

            <div class="phone-section">
                <div class="addressHeader" style="">PHONE</div>
                <div class="mail-line1"></div>
                <div class="mail-line2"></div>

                <div class="actualTextValue">
                  +966 503898844
                </div>
                <div class="actualTextValue" style="opacity:0;">
                   Riyadh, Saudi Arabia
                 </div>
                 
            </div>

            <div class="phone-section">
                <div class="addressHeader" style="">PHONE</div>
                <div class="mail-line1"></div>
                <div class="mail-line2"></div>

                <div class="actualTextValue">
                    +974 40193055
                </div>
                <div class="actualTextValue">
                   +974 3318 2160
                </div>
            </div> -->

        </div>

    </div>
</div>

<!-- Got a question  -->
<!-- <div class="container-fluid" style="padding:30px 15px;">
    <div class="container">
        <h2 class="text-center heading">Got a Question ?</h2>
        <div class="heading-underline" style=""></div>
        <div class="text-center container templates-para" style="">
            Got a question or just wanted to say hello ?
        </div>
    </div>

    <div class="container">
        <div class="questionFLexer">
            <div class="question-child">
                <div class="question-box">
                    <h3>Call Us Now</h3>
                    <div class="question-underline"></div>
                    <div class="numbers">+91-9930677169</div>
                </div>
            </div>
            <div class="question-child">
                <div class="question-box">
                    <h3>Write to Us</h3>
                    <div class="question-underline"></div>
                    <div class="numbers">mumbai@inkincaps.com</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center" style="padding:30px 15px;">
        <button class="btn btn-default bookademoButton contacts-button">Book A Demo</button>
    </div>

</div> -->
