<div class="container-fluid" style="background:#000;padding:30px 15px;">
    <div class="container">
        <div class="logoWrapper" style="margin:0px auto;">
            <img src="assets/homepage/vtour_log_white.png" width="100px" style="margin:0px auto;display:block" />
        </div>

        <div class="social-icon-wrapper">
            <div><a href="https://www.linkedin.com/company/ink-in-caps/" target="_blank"><img src="assets/homepage/Linkedin.png" width="100%" style="padding:2px" /></a></div>
            <div><a href="https://www.facebook.com/inkincaps/" target="_blank"><img src="assets/homepage/Facebook.png" width="100%" style="padding:2px" /></a></div>
            <div><a href="https://www.instagram.com/inkincaps/" target="_blank"><img src="assets/homepage/Instagram.png" width="100%" style="padding:2px" /></a></div>
        </div>
        <div class="footer-address">
            <div><span><img src="assets/homepage/marker-location.png" width="15px" style="margin-right:5px;" /></span>
                Faisaliah Office Tower, Riyadh, Saudi Arabia</div>
            <div><span><img src="assets/homepage/phone.png" width="15px" style="margin-right:5px;" /></span> +966 503898844
            </div>
        </div>
    </div>
</div>