<div class="container-fluid" style="background:#000;padding:30px 15px;">
    <div class="container">
        <div class="logoWrapper" style="margin:0px auto;">
            <img src="assets/homepage/vtour_log_white.png" width="100px" style="margin:0px auto;display:block" />
        </div>

        <div class="social-icon-wrapper">
            <div><img src="assets/homepage/Twitter.png" width="100%" style="padding:2px" /></div>
            <div><img src="assets/homepage/Facebook.png" width="100%" style="padding:2px" /></div>
            <div><img src="assets/homepage/Instagram.png" width="100%" style="padding:2px" /></div>
        </div>

        <div class="footer-address">
            <div><span><img src="assets/homepage/marker-location.png" width="15px" style="margin-right:5px;" /></span>
                Corporate Annexe, Goregaon, Mumbai, Maharashtra 400063</div>
            <div><span><img src="assets/homepage/phone.png" width="15px" style="margin-right:5px;" /></span> +91 99306
                77169</div>
        </div>
    </div>
</div>