<header>
    <div class="menuWrapper col-xs-12">

        <div class="col-xs-4">
            <div class="menuSection">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="col-xs-4 text-center">
            <div class="logoWrapper">
                <img src="assets/homepage/vtour_logo.png" width="100%" />
            </div>
        </div>
        <div class="col-xs-4 menulinkwrapper">
            <div class="menu-link"><a href="assets/pdf/VTour.pdf" style="color:#6f6f6f;text-decoration:none" download>Download</a></div>
            <div class="menu-link"><a href="https://vtour.inkincaps.com/" target="_blank" style="color:#6f6f6f;text-decoration:none">Demo</a></div>

        </div>

    </div>
</header>